

/* starts navbar */
.custom_navbar{
    background-color: #0be881;
}
.custom_navbar_icon{
    color: lightgray;
}
/* ends navbar */

/* starts carousel */
.custom_slider{
    background-color: #FEEAE9;
    border-radius: 1rem;
}
.custom_indicators li{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: green;
}
.custom_cont_icon{
    color: green;
    font-size: 2rem;
}

/* ends carousel */

/* starts category */
.custom_category{
    color: white;
}
.custom_category img{
    width: 129px;
}

#watch{
    background-color:#34e7e4;
}
#bag{
    background-color: #575fcf;
}
#shoe{
    background-color: #ff5e57;
}
#shoe, #watch, #bag{    
    border-radius: .5rem;
}
/* ends category */

/* starts Shoe card */

.custom_card, .custom_footer{
    border: none;
}
.custom_footer{
    background-color: white;
}
/* ends Shoe card */

/* starts subscribe */
#subscribe{
    background-color: #808e9b;
    border-radius: 1rem;
    height: 300px;
}
#subscribe h5{
    color: lightgray;
}
#subscribe input{
    width: 300px;
    padding: 5px;
    border-radius: 5px;
}
/* ends subscribe */


footer{
    background-color: 
    #0be881;
}